
<%= form_for(@post, { role: 'form' }) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :body %><br>
    <%= f.text_area :body, class: 'form-control document-text-area' %>
  </div>
  <div class='fr'>
    <%= link_to 'Back', posts_path, class: 'btn btn-danger' %>
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
