<table class='table'>
  <thead>
    <tr>
      <th>Index</th>
      <th>Date</th>
      <th>Author</th>
      <th>Event</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%- @post.versions.each do |version| %>
      <tr>
        <td><%= version.index %></td>
        <td><%= version.created_at %></td>
        <td>Hando</td>
        <td><%= version.event.humanize %></td>

        <%- if version.next != nil %>
        <td><%=link_to 'Difference with current', diff_post_version_path(post, version.next)%></td>
        <td><%=link_to 'Rollback to this version', rollback_post_version_path(post, version.next), method: 'PATCH'%></td>
        <% else %>
        <td>This is the current version</td>
        <td>This is the current version</td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>
