<h2><%=@post.title%></h2>
<p><%@post.body%></p>
<p>Post created at: <%=@post.created_at%></p>
<p>Post updated at: <%=@post.updated_at%></p>



<hr>
<%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-default' %>
<%= link_to "Delete", post_path(@post),
          method: :delete,
          data:  {confirm: 'Are you sure?'},
          :class => 'btn btn-danger' %>
