<!DOCTYPE html>
<html>
  <head>
    <title>Trainingmanager</title>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'  => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar navbar-default">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Training manager</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                  <li><%= link_to "Home", home_path %></li>
              </ul>
              <ul class="nav navbar-nav navbar-middle">
                  <li><%= link_to "Create Training entry", new_post_path %></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to "About", about_path %></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
<div class="container">
    <%= yield %>
  </body>
</html>
